{% extends "base.html" %}
{% block titulo %} Cambiar contrasena {% endblock %}
{% block contenido %}  

<a
    name=""
    id=""
    class="btn btn-success"
    href="{% url 'panel' %}"
    role="button"
    >Regresar al panel de control</a
>

<br>

<h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    <label for="password">New Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="password_confirmation">Confirm New Password:</label><br>
    <input type="password" id="password_confirmation" name="password_confirmation"><br>
    <input type="submit" value="Submit">
  </form>

{% endblock %}