{% extends 'core/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HippoChat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'core/css/styles.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f01a28064.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="text-center">
            <img src="{% static 'core/imagenes/hippochat-logo.png' %}" alt="Hippochat Logo" class="logo mb-3">
            <h1 class="mb-3">Bienvenido a HippoChat</h1>
            <p class="lead">La red social para los amantes de los hipopótamos.</p>
        </div>
    </div>
</body>
</html>
{% endblock %}