{% extends "base.html" %}

{% block titulo%}Bandeja de Solicitudes{% endblock%}

{% block contenido%}
    <h1>Bandeja de Solicitudes</h1>
    <p>Aqui llenaremos las solicitudes pendientes</p>
    <div class="card">
        <div class="card-header">Solicitudes de amistad.</div>
        <div class="card-body">
            <h4 class="card-title">Solicitudes</h4>
            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th scope="col">Foto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td>imagen.jpg</td>
                            <td>Jordy el NP</td>
                            <td><a class="btn btn-info btn-sm " href="#" role="button" method="post"> Aceptar </a> 
                                | 
                                <a class="btn btn-danger btn-sm " href="#" role="button" method="post" > Rechazar </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    
{% endblock%}