{% extends "base.html" %}

{% block titulo%}Inicio{% endblock%}

{% block contenido%}
<h1>Inicio</h1>

{% for publicacion in publicaciones %}
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <img
                        src="{{publicacion.cuenta.foto_perfil.url}}"
                        class="img-fluid rounded-top"
                        alt=""
                    />
                    <h2>{{publicacion.cuenta.nickname}}</h2>
                    <picture>
                        <img
                            src="{{publicacion.imagen.url}}"
                            class="img-fluid"
                            alt="image desc"
                        />
                    </picture>
                    <p>{{publicacion.texto}}</p>    
                </blockquote>
            </div>
        </div>
{% endfor %}
    
{% endblock%}