<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
</head>
<body>
    

    <!-- Foto de perfil -->
    {% load static %}
    <img src="{% static 'https://arc-anglerfish-arc2-prod-bostonglobe.s3.amazonaws.com/public/FH34JHGZIAI6TLDLVMTSMKDJ5A.jpg' %}" alt="Foto de perfil">

    <!-- Botón de "añadir amigo" -->
    <button id="boton-amigo" onclick="cambiarEstado()">{{ boton_texto }}</button>

    <!-- Espacio para las publicaciones -->
    <div id="publicaciones">
        Aquí van las publicaciones
    </div>

    <script>
        function cambiarEstado() {
            var boton = document.getElementById("boton-amigo");
            if (boton.textContent === "Añadir amigo") {
                boton.textContent = "Solicitud pendiente";
            } else {
                boton.textContent = "Añadir amigo";
            }
        }
    </script>
</body>
</html>
