{% extends 'red_social/base.html'%}
{%load static %}
{% block titulo %}Crear Publicacion{% endblock %}
{% block contenido %}
{%include 'paginas/incorpora/pagina_menu.html'%}
<div class="container">
    <div class="row mt-3 mb-5">
        <div class="col-md-9 mx-auto">
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <div class = "text-center:">
                    <input type = "submit" class="btn btn-primary btn-block" value="Crear publicacion"/>
                </div>    
            </form>
        </div>
    </div>
</div>
{% endblock %}