{% extends 'red_social/base.html'%}
{%load static %}
{% block titulo %}Borrar publicacion{% endblock %}
{% block contenido %}
{%include 'paginas/incorpora/pagina_menu.html'%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Confirmar borrado de publicacion</h1>
            <p>¿Estas seguro de borrar la publicacion {{publicacion.contenido}}?</p>
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Borrar" class="btn btn-danger">
                <a href="{% url 'publicaciones' %}" class="btn btn-primary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}